*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style-type: none;
    box-sizing: border-box;
}


/* navbar */

.Navbar{
   position: fixed;
   z-index: 222;
  width: 100%;
  transition: all 0.5s linear;
}
.Navbar a{
    color: white;
    transition: all 0.3s linear;
    font-family: 'Lato', sans-serif;
}

.Navbar img{
    margin-right: 170px;
}

 .Navbar .active{
    color: #E91E63 !important;
    border-bottom: 1px solid #E91E63;
}
.Navbar li:hover a{
    color: #E91E63 !important;
}

.bgcolor{
    background-color: white !important;
  

}
.color{
    color: black !important;
}

/* section-2 */
.section2 .item{
    height:800px;
    width: 100%;
    position: relative;
}
.section2 .item img{
    height: 750px;
}
.section2  .customNextBtn{
    position: absolute;
    top: 45%;
    right: 5%;
    font-size: 40px;
    z-index: 222;
    cursor: pointer;
    opacity: 0.5;
    color: white;  
}
.section2 .customPrevBtn{
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 222;
    font-size: 40px;
    cursor: pointer;
    opacity: 0.5;
    color: white;    
}
.section2  .owl-dots{
    position: absolute;
    bottom: 15%;
    left: 45%;
    
} 

.section2  .owl-dots span{
    padding: 8px;
}


/* section-2-end */


/* section-3 */


.section3 h1.Headword{
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    font-weight: 700;
    font-family: josefin sans,sans-serif;
}

.section3 .time{
   box-shadow: 0 0 20px black;
   margin-top: 25px;
    height: 110px;
}
.section3  .time{
    text-align: center;
  font-family: lato sans-serif;
   font-weight: 700;
}
.section3 .time span{
font-size: 60px;
}
.section3 .time p{
font-weight: 500;
margin-top: -10px;
}

.section3 button{
    font-size: 14px;
    background: #E91E63;
    color: white;   
    padding: 12px 20px;
    border: none;
  font-family: lato sans-serif;
 border-radius: 4px; 
 margin-top: 80px;
}
.section3 .button{
    text-align: center;  
}


/* SECTION-3-END */



/* SECTION-4 */
.section4 .header{
    text-align: center;
    margin-top: 100px;
    font-family: josefin sans,sans-serif;
}
.section4 .header h1{
    font-weight: 700;
}
.section4 .header i.fa{
    color: #E91E63;
    font-size: 35px;
    
}
.section4 .category {
    margin-top: 60px;
    text-align: center;
}
.section4 .category .up .col-md-4{
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    height: 250px;  
}
.section4 .category .down .col-md-4{
    border-right: 1px solid #DDDDDD;
    height: 250px;  
}

.section4 .category i.fa{
    font-size: 48px;
    margin-top: 50px;
  
}
.section4 .category h3{
    font-family: josefin sans,sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.section4 .category p{
    margin-top: 20px;
    font-size: 14px;
}

.section4   .col-md-4:hover {
    background: rgb(240, 240, 240);
    cursor: pointer;
    transition: all 0.3s linear;

}
.section4 .col-md-4:hover i.fa{
   color: #E91E63;
   transition: all 0.3s linear;   
    
}
/* section-4-end */

/* section-5 */


.section5 .header{
    text-align: center;
    margin-top: 100px;
    font-family: josefin sans,sans-serif;
}
.section5 .header h1{
    font-weight: 700;
}
.section5 .header i.fa{
    color: #E91E63;
    font-size: 35px;
    
}
.section5 .cart{
    margin-top: 60px;
}
.section5 .card{
    width: 100% !important;
    transition: all 0.3s linear;
}
.section5 .card img{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
  
}
.section5 .card h5{
    font-family: josefin sans,sans-serif;
    font-size: 16px;
    font-weight: 700;
  
}
.section5 .card h5:hover{
    color: #E91E63;
    transition: all 0.3s linear;
    cursor: pointer;
  
}

.section5 .card p{
    font-family: josefin sans,sans-serif;
    font-size: 15px;
  line-height: 25px;
}

.section5 .card .btn{
   font-family: josefin sans,sans-serif;
  background: #E91E63;
  color: white;
}
.section5 .card:hover{
    box-shadow: 3px 3px 5px 3px #ccc;
    transform:scale(1.01,1.01)
}


/* SECTION-5-END */

/* SECTION-6 */

.section6{
    background: #E91E63;
    margin-top: 80px;
    color: white;
    text-align: center;
    font-family: lato,sans-serif;
    padding: 60px 0;
  
    
    
}
.section6 i.fa{
    font-size: 55px;
}
.section6 h5{
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.section6 p{
    font-size: 11px;
    margin-top: 12px;
 
}
/* section-6-end */


/* SECTION-7 */

.section7{
    background: #f3f4f3;
}
.section7 .header{
    text-align: center;
    padding-top: 80px;
    font-family: josefin sans,sans-serif;
}
.section7 .header h1{
    font-weight: 700;
}
.section7 .header i.fa{
    color: #E91E63;
    font-size: 35px;
    
}
.section7 .row{
    margin-top: 40px;
}
.section7 .left button{
width: 100%;
height: 100px;
background: white;
color: black;
border: none;
border-bottom: 1px solid #DDDDDD;
transition: all 0.3s linear;
}

.section7 button h5{
    font-size: 15px;
   
    line-height: 22px;
    font-weight: 700;
}
.section7 .col-md-9 {
    padding-bottom: 4%;
}

.section7 button p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  
    
}
.activator{
    background: #E91E63 !important;
    color: white !important;
}

.section7 .left button:hover{
    background: #E91E63;
    cursor: pointer;
    color: white;
}
.section7 .right .img{
    float: left;
}
.section7 .right img{
border-radius: 90%;
}
.section7 .right .About{
    margin-left: 12%; 
}
.section7 .right .About p{
    color: #777;
    font-size: 13px;
}
.section7 .right .About h3{
    font-family: josefin sans,sans-serif;
   font-size: 18px;
   font-weight: 700;
   margin-top: -2%;
   margin-bottom: 3%;
}
.section7 .accord{
    margin-top: 1%;
}
.section7 .card-header{
    background-color: white;
    cursor: pointer;
}
.section7 .pro{
    width: 80px;
    height: 80px;
    float:left;
}
.section7 .cardbody {
margin-left: 12%;
}
.section7 .cardbody p:nth-of-type(1){
    font-size: 14px;
    font-family: lato, sans-serif;
}
.section7 .cardbody p:nth-of-type(2){
    color: #777;
    font-size: 13px; 
}
.section7 .card-body{
    padding: 0.75rem;
      background: #f3f4f3;
}


/* SECTION-7-END */


/* SECTION-8 */


.section8 .header{
    text-align: center;
    margin-top: 80px;
    font-family: josefin sans,sans-serif;
}
.section8 .header h1{
    font-weight: 700;
}
.section8 .header i.fa{
    color: #E91E63;
    font-size: 35px;  
}
.section8 .header p{
    padding-bottom: 20px;
}
.section8 .col-md-4{
    position: relative;
}
.section8 .team .img{
    width: 100%;
    border: 2px solid #DDDDDD;
    box-shadow: 2px 2px 4px 3px #DDDDDD;
    position: relative;

    
}
.section8 .team .img .copa{
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  height: 332px;
  position: absolute;
  bottom: 0%;
  transition: all 0.3s linear;
 

}

.section8 .team img{
   width: 96%;
   margin-top: 2%;
   margin-left: 2%;
   margin-bottom: 2%;
   transition: all 0.4s linear;

   
}
.section8 .team .info{
    background: #F3F4F3;
    position: absolute;
    bottom: 2.8%;
    left:6%;
    text-align: center;
    padding: 12px 12px 5px 12px;

    
}
.section8 .info h3{
    font-size: 17px;
}
.section8 .info p{
    font-size: 13px;
    color: rgb(151, 146, 146)
    
}


.section8 .overlay{
    position: absolute;
    bottom: 89%;
    left: 7%;
    text-align: center;
    width: 90%;
    z-index: 22;
    z-index: 2;
    visibility: hidden;
    transition: all 0.3s ease;
    

}

.section8 ul li{
    float: left;
    width: 36px;
    height: 36px;
    background: #E91E63;
    color: white;
    margin-right: 5%;
    border-radius: 3px;
     cursor: pointer;
    
}
.section8 li i.fa{
    line-height: 36px;
    font-size: 25px;
}

.section8 .col-md-4 :hover .copa{
    background-color: rgba(32, 30, 30, 0.7);
    cursor: pointer;
  
}
.section8 .col-md-4:hover .overlay{
visibility: visible;
bottom: 85%;
}

.section8 .col-md-4 .info:hover h3{
    cursor: pointer;
    color: #E91E63
}
.section8 .col-md-4:hover .img{
    box-shadow: 0 15px 25px rgb(128, 124, 124);
}
.section8 div.button{
    text-align: center;
    padding-top: 5%;;
    padding-bottom: 7%;;

}

.section8 div.button .btn{
    background: #E91E63;
    color: white;
    font-size: 13px;
    padding: 12px 19px;
    font-weight: 500
}

/* SECTION-8-END */


/* SECTION-9 */


.section9 {
    background: #F3F4F3;
}
.section9 .header{
    text-align: center;
    padding-top: 80px;
    font-family: josefin sans,sans-serif;
}
.section9 .header h1{
    font-weight: 700;
}
.section9 .header i.fa{
    color: #E91E63;
    font-size: 35px;
    
}
.section9 .header p{
    padding-bottom: 20px;
}
.section9 .img{
    overflow: hidden;
    
}
.section9 .img img{
    width: 100%;
    position: relative;
    transition: all 0.3s linear;
}
.section9  .back{
   width: 92.3%;
  height: 302px;
  position: absolute;
  bottom: 0%;
  transition: all 0.3s linear;
  text-align: center;
}
.section9 .back i.fa{
    z-index: 23;
    color: white;
    line-height: 302px;
    font-size: 20px;
    visibility: hidden;
    transition: all 0.3s linear;
}
.section9 .col-md-4:hover .back{
    background-color: rgb(255, 35, 108, 0.6)
}

.section9 .col-md-4:hover .back i.fa{
   visibility: visible;
   font-size: 50px;
   cursor: pointer;
}
.section9 .col-md-4:hover img{
    transform: scale(1.1,1.1);

}


.section9 div.button{
    text-align: center;
    padding-top: 5%;;
    padding-bottom: 7%;;

}

.section9 div.button .btn{
    background: #E91E63;
    color: white;
    font-size: 13px;
    padding: 12px 19px;
    font-weight: 500
}


/* SECTION-9-END */


/* SECTION-10 */



.section10 .header{
    text-align: center;
    padding-top: 70px;
    font-family: josefin sans,sans-serif;
}
.section10 .header h1{
    font-weight: 700;
}
.section10 .header i.fa{
    color: #E91E63;
    font-size: 35px;
    
}
.section10 .header p{
    padding-bottom: 20px;
}


.section10 .row .img{
    height: 150px;
    border: 1px solid #DDDDDD;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
    
}
.section10 .img img{
    width: 70%; 
}
.section10 .img:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
}


.section10 div.button{
    text-align: center;
    padding-top: 4%;;
    padding-bottom: 7%;;

}

.section10 div.button .btn{
    background: #E91E63;
    color: white;
    font-size: 13px;
    padding: 12px 19px;
    font-weight: 500
}


    /* SECTION-10-END */

    /* SECTION-11 */

 .section11{
    background: url("Img/bg-pricing.jpg");
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
 }


 .section11 .header{
   text-align: center;
    padding-top: 70px;
    font-family: josefin sans,sans-serif;
    color: white;
}
.section11 .header h1{
    font-weight: 700;
}
.section11 .header i.fa{
    color: #E91E63;
    font-size: 35px;
    
}
.section11 .header p{
    padding-bottom: 20px;
}


.section11 .row .intro{
    background-color: white;
}

.section11 .row .icon{
    color: #E91E63;
    font-size: 60px;
    padding-top: 5%;
    padding-bottom: 6%;
    text-align: center;
    
}
.section11 .price {
    text-align: center;
    
}
.section11 .price h5{
    font-size: 18px;
    font-weight: 600;
    color: #212121;
}

.section11 .price h3{
    font-size: 35px;
    font-weight: 700;
    color: rgb(104, 104, 104);
}

.section11 .price p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(104, 104, 104);
}
.section11 .categoryList ul{
    padding-left: 35%;
    padding-top: 3%;
}
.section11 .categoryList ul li{
    padding-bottom: 2.5%;
    font-size: 15px;
    color: #212121;
    font-weight: 400;
}
.section11 ul li i.fa{
    color: #E91E63
}

.section11 div.button{
    text-align: center;
    padding-top: 4%;;
    padding-bottom: 7%;;

}

.section11 div.button .btn{
    background: #E91E63;
    color: white;
    font-size: 13px;
    padding: 12px 19px;
    font-weight: 500
}
.section11 .row{
    padding-bottom: 6%;
}


/* SECTION-11-END */

/* SECTION-12 */


.section12 .row{
    padding-bottom: 5%;
}
.section12 .header{
    text-align: center;
     padding-top: 70px;
     font-family: josefin sans,sans-serif;
 }
 .section12 .header h1{
     font-weight: 700;
 }
 .section12 .header i.fa{
     color: #E91E63;
     font-size: 35px;
 }

 .section12 .header p{
    padding-bottom: 20px;
}
.section12 .img img{
    width: 100%;
}
.section12 .header2 p{
    font-size: 14px;
    padding-bottom: 5%;
    font-weight: 400;
    line-height: 25px;
}

.section12 .list h3{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 2.5%;
    font-family: josefin sans,sans-serif;
    
}

.section12 .list li{
    padding-bottom: 2%;
}
.section12 .list span{
    padding-left: 1%;
}
.section12 .list i.fa{
  color: #E91E63
}

/* SECTION 12 -END */

/* SECTION 13  */

.section13 .header{
    text-align: center;
     padding-top: 70px;
     font-family: josefin sans,sans-serif;
 }
 .section13 .header h1{
     font-weight: 700;
 }
 .section13 .header i.fa{
     color: #E91E63;
     font-size: 35px;
 }

 .section13 .header p{
    padding-bottom: 20px;
}
.section13 .img{
    overflow: hidden;
}
.section13  .img img{
    width: 100%;
    transition: all 0.3s linear;
}
.section13 .info{
    border: 1px solid #DDDDDD;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    border-top: none;
    padding-left:3%;
    position: relative;
}
.section13 .info h1{
    font-size: 26px;
    font-family: josefin sans,sans-serif;
    font-weight: 600;
    padding-top: 9%;
}

.section13 .info p{
    padding-top: 3%;
    padding-bottom: 4%;
    
    color:rgb(151, 150, 150)
}
.section13 .info button{
    color: #E91E63;
    background: white;
    position: absolute;
    font-size: 13px;
    border:none;
    padding: 6px 30px;
    top: -11%;
    left: 5%;
    border-radius: 4px;
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
}
.section13 .col-md-4 :hover img{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.section13 .info h1:hover {
    color: #E91E63;
    cursor: pointer;
}


.section13 div.button{
    text-align: center;
    padding-top: 4%;;
    padding-bottom: 7%;;

}

.section13 div.button .btn{
    background: #E91E63;
    color: white;
    font-size: 13px;
    padding: 12px 19px;
    font-weight: 500
}

/* SECTION-13-END */

/* SECTION-14 */



.section14{
    background: #F3F4F3;
}    
.section14 .header{
    text-align: center;    
     padding-top: 80px;
     font-family: josefin sans,sans-serif;
     font-weight: bolder;
 }

 .section14 .email .input-group{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
 }

 .section14 .email input{
     padding: 12px;
     border-color: #E91E63;
 }

 .section14 .email button{
     background: #E91E63;
     color: white;
     font-size: 14px;
     width: 150px;
 }

 /* SECTION-14-END */

 /* SECTION-15 */
 .section15{
height: 450px;
position: relative;
 }

 .section15 img{
     position: absolute;
     width: 50px;
     height: 50px;
     bottom: 30%;
     left: 50%;
 }

 /* SECTION-15-END */

 /* SECTION-16 */


 .section16 .header{
    text-align: center;
     padding-top: 70px;
     font-family: josefin sans,sans-serif;
 }
 .section16 .header h1{
     font-weight: 700;
 }
 .section16 .header i.fa{
     color: #E91E63;
     font-size: 35px;
 }

 .section16 .header p{
    padding-bottom: 20px;
}

/* .section16 .row{
    border: 2px solid black;
} */

.section16  input{
    width: 100%;
    padding: 2.5%;
    border: none;
    background: #f3f4f3
}

.section16 .subject  input{
margin-top: 6%;
padding : 1.5%;
}
.section16 .textarea textarea{
    margin-top: 6%;
    width: 100%;
    border: none;
    background: #f3f4f3;

}

.section16 div.button{
    text-align: center;
    padding-top: 6%;;
    padding-bottom: 9%;;

}

.section16 div.button .btn{
    background: #F06D99;
    color: white;
    font-size: 13px;
    padding: 12px 19px;
    width: 100%;
    font-weight: 500
}
.section16 .emailrow{
    border: 1p solid #DDDDDD;
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    padding-top: 9%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;   
}

.section16 .mainrow{
    padding-bottom: 9%;
}

/* SECTION-16-END */


/* SECTION-FOOTER */

.footer{
    background: #222222;
}

.footer .row{
    padding-top: 4%;
    padding-bottom:4%;
}

.footer .part1 img{
    width: 75%;
}

.footer .part1 .word{
color: white;
font-size: 14px;
padding-right: 40px;
padding-top: 15px;
}
.footer .list{
    color: white;
}
.footer .list ul{
    padding-top: 15px;
}
.footer .list ul li{
    font-size: 14px;
    line-height: 25px;
    transition: all 0.3s linear;
}
.footer .list ul li :hover{
    color: #E91E63;
    cursor: pointer;
    transition: all 0.3s linear;
    
}
.footer .part3 h5{
    color: white;
    padding-bottom: 15px;
}
.footer .part3 img{
    width: 32%;
    height: 32%;
    float: left;
    padding-right: 10px;
    
}
.footer .part3 .post .p1{
    color: white;
    font-size: 14px;
    
}
.footer .part3 .post .p2{
    color: #777;
    font-size: 12px;    
}
.footer h5{
    color: white;
}
.footer .part4 ul li {
    float: left;
    width: 38px;
    height: 38px;
    background: #f3f4f3;
    color: black;
    text-align: center;
    margin-right: 3%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.footer .part4 ul li i.fa{
    line-height: 38px;
    font-size: 20px;
}
.footer .part4 ul li:nth-of-type(1):hover{
background: blue;
color: white !important;
}

.footer .part4 ul li:nth-of-type(2):hover{
    background: rgb(83, 165, 197);
    color: white !important;
    }

    .footer .part4 ul li:nth-of-type(3):hover{
        background: rgb(201, 51, 51);
        color: white !important;
        }

        .footer .part4 ul li:nth-of-type(4):hover{
            background: green;
            color: white !important;
            }


    .footer .part4{
        padding-left: 3%;
    }

    /* footer-end */

    /* foot */
 .foot{
  background: black;
  text-align: center;
  color: white;
  font-size: 14px;
  width: 100%;
  
    }
    .foot p{
margin-bottom: 0px;
padding: 10px;
    }

    /* foot-end */

    /* scroll */
    .scrollToTop{
        width:70px; 
        height:70px;
        position:fixed;
        top:89%;
        right:1%;
        background: url('Img/ar.jpg') ;
        background-size: contain;;
        background-position: center;
        z-index: 324165465;
     }


    /* scroll-end */



